public
sql
vendor
wpcs
tests/core
tests/data
tests/includes
tests/db
.env
tests/uploads
.idea/
!wordpress/
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/wp-ball
